<div class='nested-fields'>
  <%= f.input :hollywood, :as => :boolean %>
  <%= f.input :westside, :as => :boolean %>
  <%= f.input :valley, :as => :boolean %>
  <%= f.input :century_city, :as => :boolean %>
</div>